body {
  font-family: "Hack", monospace;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
.nav {
  background-color: #344e41;
  overflow: hidden;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  color: beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav ul li a:hover {
  background-color: beige;
  color: #344e41;
}
.header-image {
  float: left;
  width: 100px;
  height: 100px;
}
.header {
  background-color: #344e41;
  color: beige;
  padding: 20px;
  text-align: center;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.tabs button {
  background-color: #344e41;
  color: beige;
  border: #344e41;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
}
.tabs button:hover {
  background-color: beige;
  color: #344e41;
}
.tabs button.active {
  background-color: beige;
  color: #344e41;
}
.tab-content {
  display: none;
  padding: 20px;
  background-color: hsla(150, 20%, 25%, 0.4);
  border: 1px solid #344e41;
  margin: 0 20px;
}
.tab-content.active {
  display: block;
}
.event-tile {
  background-color: #344e41;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.add-to-calendar {
  background-color: #344e41;
  color: beige;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}
.add-to-calendar:hover {
  background-color: beige;
  color: #344e41;
}
.newyearsimage {
  float: right;
  width: 135px;
  height: 150px;
  margin-top: -54px;
}
.bakesale1 {
  float: right;
  width: 170px;
  height: 140px;
  margin-top: -100px;
}
.games1 {
  float: right;
  width: 400px;
  height: 140px;
  margin-top: -100px;
}
.valintines1 {
  float: right;
  width: 250px;
  height: 140px;
  margin-top: -125px;
}

footer {
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  padding: 20px;
  box-sizing: border-box;
}
footer div {
  padding-bottom: 10px 0;
  border-bottom: 1px solid #555;
}
.bakesale4 {
  float: right;
  width: 215px;
  height: 140px;
  margin-top: -100px;
}
.bingo1 {
  float: right;
  width: 215px;
  height: 140px;
  margin-top: -52px;
}
.summer1 {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -61px;
}
.summer2 {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -61px;
}
.summer3 {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -61px;
}
.christmas {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -50px;
}
.santa {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -100px;
}
.easter {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -120px;
}
.bingo2 {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -100px;
}
.bingo3 {
  float: right;
  width: 210px;
  height: 135px;
  margin-top: -100px;
}
